<template>
  <div>
    <v-list elevation="1">
      <v-list-item
        :color="'red'"
        v-for="pelicula in peliculasFiltradas"
        :key="pelicula.id"
        @click="favoritear(pelicula.id)"
      >
        <v-list-item-icon>
          {{pelicula.id}}
          <v-icon
            class="ml-3"
            color="#003b63"
          >{{pelicula.favorito ? 'mdi-heart': 'mdi-heart-outline'}}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{pelicula.name}}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-avatar>
          <v-img :src="pelicula.image" />
        </v-list-item-avatar>
      </v-list-item>
    </v-list>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  computed: {
    ...mapState(["peliculas", "searchText"]),
    peliculasFiltradas() {
      return this.searchText == null
        ? this.peliculas
        : this.peliculas.filter(p =>
            p.name.toLowerCase().match(this.searchText.toLowerCase())
          );
    }
  },
  methods: {
    ...mapActions(["obtenerPeliculas"]),
    ...mapMutations(["favoritear"])
  },
  created() {
    this.obtenerPeliculas();
  }
};
</script>