<template>
  <div>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-subheader class="mt-4 grey--text text--darken-1">CONTACTAME</v-subheader>
        <v-list>
          <v-list-item
            :href="'https://api.whatsapp.com/send?phone=59168022770&text=Solicito%20las%20siguientes%20peliculas:%20'+this.convierteTexto"
          >
            <img src="@/assets/whatsappLogo.png" height="35" />
            <v-list-item-title>Whatsapp</v-list-item-title>
          </v-list-item>
        </v-list>
        <v-subheader class="mt-4 grey--text text--darken-1">SELECCIONADOS</v-subheader>
        <v-list v-for="(pelicula,index) in pelisFavoritas" :key="index">
          <v-list-item>
            <v-list-item-avatar>
              <img :src="pelicula.image" />
            </v-list-item-avatar>
            <v-list-item-title>{{pelicula.name}}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :dark="true"
      app
      clipped-left
      :color="modoDark?'':'#003b63'"
      dense
      elevation="1"
      height="56"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn v-if="(!this.showSearcher && this.textoBuscador == '') || !this.$vuetify.breakpoint.xs" icon>
        <v-icon size="35" :color="modoDark?'#005c99':'white'">mdi-youtube</v-icon>
      </v-btn>
      <v-toolbar-title
        v-if="(!this.showSearcher && this.textoBuscador == '') || !this.$vuetify.breakpoint.xs"
        class="mr-12 align-center"
      >
        <span>MyMovies</span>
      </v-toolbar-title>
      <v-spacer />
      <v-text-field
        clearable
        :click:clear="this.textoBuscador?this.textoBuscador:this.textoBuscador=''"
        v-if="(this.showSearcher || !this.$vuetify.breakpoint.xs) || this.textoBuscador != ''"
        autofocus
        @focus="mostrarBuscador()"
        @blur="ocultarBuscador()"
        placeholder="Buscar"
        single-line
        hide-details
        v-model="textoBuscador"
        :value="this.actualizaSearchText"
      />
      <v-btn
        v-if="(!this.showSearcher && !this.textoBuscador) || !this.$vuetify.breakpoint.xs"
        @click="mostrarBuscador()"
        icon
      >
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-spacer class="hidden-xs-only" />
      <v-btn v-if="(!this.showSearcher && this.textoBuscador == '') || !this.$vuetify.breakpoint.xs" :href="'https://api.whatsapp.com/send?phone=59168022770&text=Solicito%20las%20siguientes%20peliculas:%20'+this.convierteTexto" icon>
        <v-icon>mdi-whatsapp</v-icon>
      </v-btn>
      <v-btn v-if="(!this.showSearcher && this.textoBuscador == '') || !this.$vuetify.breakpoint.xs" @click="cambiarModo()" icon>
        <v-icon>{{ modoDark?'mdi-white-balance-sunny':'mdi-brightness-4'}}</v-icon>
      </v-btn>
    </v-app-bar>
  </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  data: () => ({
    textoBuscador: "",
    showSearcher: true,
    drawer: true
  }),
  methods: {
    mostrarBuscador() {
      this.showSearcher = true;
    },
    ocultarBuscador() {
      this.showSearcher = false;
    },
    ...mapActions(["obtenerPeliculas"]),
    ...mapMutations(["favoritear", "cambiarModo", "cambiaSearchText"])
  },
  computed: {
    ...mapState(["pelisFavoritas", "modoDark", "busquedaText"]),
    convierteTexto: function() {
      return this.pelisFavoritas.map(e => e.name).join(".%20");
    },
    actualizaSearchText: function() {
      this.cambiaSearchText(this.textoBuscador);
      return this.textoBuscador;
    }
  },
  updated() {
    this.$vuetify.theme.dark = this.modoDark;
  }
};
</script>