<template>
  <v-app id="inspire">
    <ToolBar />
    <v-content>
      <v-container>
        <v-row>
          <v-col sm="12">
            <div>
              <p class="display-1 font-weight-black text-center my-0 py-0">Pasos..!</p>
              <p class="text-center my-0 py-0"><b>1.-</b> Selecciona las peliculas.</p>
              <p class="text-center my-0 py-0"><b>2.-</b>
                Pidelas presionando el boton
                <v-icon>mdi-whatsapp</v-icon>
                Y ya!
              </p>
            </div>
            <v-col sm="12">
              <ListaPeliculas />
            </v-col>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ToolBar from "@/components/ToolBar.vue";
import ListaPeliculas from "@/components/ListaPeliculas.vue";
import { mapState, mapMutations } from "vuex";
export default {
  name: "toolbar",
  components: {
    ToolBar,
    ListaPeliculas
  }
};
</script>